@import url("../node_modules/@syncfusion/ej2-base/styles/material.css");

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  h1 {
    text-align: center;
  }
  
  #country-information {
    text-align: left;
  }
  
  #country-information ul li {
    list-style: none;
  }

  #search{
    display: table-column;
  }